/* index page */
.indexBtn {
  background-color: #9bd3b4;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.indexBtn:hover {
  background-color: #a1bbd0;
  border-radius: 10px;
  color: white;
}
.rememberMe{
  margin: 0px 10px 15px 10px;
}
/* universal */
body {
  background-color: rgb(241, 239, 239);
}
a {
  color: #d1a827;
}
a:hover {
  color: #9bd3b4;
}
a:visited {
  color: rgb(169, 182, 125);
}
.btn {
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav-wrapper {
  margin-bottom: 20px;
  background-color: white;
}
.brand-logo.logo-text{
  color: #a1bbd0;
  margin-left: 10px; 
}
.table-of-contents {
  background-color: white;
  margin-top: 20px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-right-color: 1px solid lightgrey;
}
.nav-links {
  color: grey;
}
#alerts {
  background-color:#d1a827;
}
.card{
margin-left: 10px;
margin-right: 10px;
}