/* INDEX */
.indexBtn {
  background-color: #4a8d68;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.indexBtn:hover {
  background-color: #43c77a;
  border-radius: 10px;
  color: white;
}
.flex-item {
  justify-content: space-around;
  margin: 0px 10px 15px 10px;
}
/* UNIVERSAL */
body {
  background-color: rgb(241, 239, 239);
}
a {
  color: #d1a827;
}
a:hover {
  color: #9bd3b4;
}
a:visited {
  color: rgb(169, 182, 125);
}
.btn {
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav-wrapper {
  margin-bottom: 20px;
  background-color: white;
}
.brand-logo.logo-text{
  color: #a1bbd0;
  margin-left: 10px; 
}
.table-of-contents {
  background-color: white;
  margin-top: 20px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-right-color: 1px solid lightgrey;
}
.nav-links {
  color: grey;
}
#alerts {
  background-color:#d1a827;
}
.card{
margin-left: 10px;
margin-right: 10px;
}
#brandLogo{
    width: 150px;
    height: 50px;
    border: 4px solid #c2c16e;
    border-radius: 4px;
    margin: 7px;
}
#userPhoto{
  height: 50px;
  border-radius: 100%;
}
/* EMPLOYEE */
.employeePic {
  height: 20px;
  width: auto;
}
.collection {
  height: 420px;
}
.scheduleHeader {
  background-color: #a1bbd0;
  opacity: .6;
  font-size: 13px;
}
.employeeSchedule {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  font-size: 85%;
}
/* SALES */
.date-filter {
  background-color: white;
  padding: 10px;
  font-size: 12px;
}
.picker__date-display {
  background-color: #a1bbd0;
}
.picker__weekday-display {
  background-color:#d1a827;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color:#d1a827;
}
#period {
  border: none;
  font-size: 14px;
}